---
const { school, degree, fieldOfStudy, timeline } = Astro.props;
---

<div class="flex gap-2 md:gap-3">
    <div class="relative flex items-center">
        <div class="absolute left-1/2 -translate-x-1/2 w-0.5 h-full bg-blue-600"></div>
        <div class="size-2 rounded-full bg-blue-600"></div>
    </div>
    <div class="py-2">
        <p class="text-sm md:text-base text-stone-800">{timeline}</p>
        <p class="text-stone-950 font-medium">{school}</p>
        <p class="text-sm md:text-base text-stone-800">{degree}, {fieldOfStudy}</p>
    </div>
</div>